@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	:root,
	:root[data-theme="light"] {
		color-scheme: light;
		/* https://tailwindcss.com/docs/customizing-colors#using-css-variables */
		--theme-bg: 0deg 0% 98%;
		--theme-link: 172deg 18% 41%;
		--theme-text: 203deg 11% 15%;
		--theme-accent: 351deg 66% 48%;
		--theme-accent-2: 0deg 0% 7%;
		--theme-quote: 351deg 66% 48%;
	}

	:root[data-theme="dark"] {
		color-scheme: dark;
		--theme-bg: 210deg 6% 12%;
		--theme-link: 330deg 49% 67%;
		--theme-text: 220deg 3% 79%;
		--theme-accent: 159deg 64% 45%;
		--theme-accent-2: 0deg 0% 93%;
		--theme-quote: 102deg 100% 86%;
	}
	body {
		font-family: 'Noto Sans', serif;
  	font-optical-sizing: auto;
  	font-weight: 400;
  	font-style: normal;
	}
	a {
    @apply text-base;
  }
	a:hover {
    @apply underline;
  }
	h1, h2, h3, h4, h5, h6 {
    @apply mb-3;
  }
	h1 {
    @apply text-3xl font-bold;
  }
  h2 {
    @apply text-2xl font-semibold;
  }
  h3 {
    @apply text-xl font-medium;
  }
  h4 {
    @apply font-medium;
  }
  p {
    @apply text-base leading-[1.25] mb-4;
  }
	.main-content a {
    @apply underline;
    transition: color 0.3s ease;
  }
	@media (hover: hover) {
		.main-content a:hover {
			@apply text-blue-600;
		}
	}
	@media (hover: none) {
		.main-content a {
			@apply text-blue-600;
		}
	}
	.image {
		@apply mb-4 m-auto;
	}
	.image figcaption {
		@apply text-center text-gray-600;
	}
}
