---
import MainLayout from '@/layouts/MainLayout.astro'
const name = 'But why'
---
<MainLayout seo={{ title: "But why" }}>
	<h1 class="font-bold text-center mb-6">Why 37?</h1>
	
	<p>Back about 1980 or so -- I don't remember exactly when -- some friends and I saw this comedy routine by a guy who talked about "Moleeds" and the numbers 27 and 37. Moleeds were these invisible particles that governed the universe, and the numbers 27 and 37 were mystically connected. Or something like that.</p>

	<p>For many years I didn't remember who the comedian was, or the details of his routine. I did remember certain facts, such as "there are 37 holes in the mouthpiece of a telephone". (Back then this was true.) There were others I thought might have come from the routine, but I wasn't sure. But it just didn't matter. The real point was to support the idea that these numbers were mystically intertwined with the universe.</p>

	<p>It does seem that 37 occurs a lot. You hear it a lot in conversation: people choose it as an "arbitrary" number of something. It turns up in writing, such as in columns by Dave Barry and Joe Bob Briggs. It appears in comic strips quite a bit. It has appeared in many movies, both accidentally and on purpose. It turns up on lots of personalized license plates.</p>

	<p>It may be that 37 gets used a lot because it somehow "feels random". I imagine psychologists pondering theories and performing experiments on destitute grad students, to figure out why people might choose this number over a less random-sounding number like 36.</p>

	<p>But I think it's more fun to figure that 37 must be some sort of mystical number, and that all the "coincidental" occurrences of 37 in the world aren't really coincidences...</p>

	<p>Anyway, the idea struck home with me. I've been collecting "37 factoids" ever since.</p>

	<h2 class="font-bold text-center mb-6">Charles Fleischer</h2>
	<p>Nowadays I know the comedian was Charles Fleischer (the same guy who later did the voice of Roger Rabbit); I heard that from many readers, and have even gotten email from Fleischer himself. He has the transcript of that old routine up on his website, which is at www.monkeydog.com. At the moment I'm writing this, linking directly to the transcript doesn't seem to work, so you'll have to browse for yourself. That'll be good for you, it's good stuff.</p>
</MainLayout>
